.env

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/


# Dataset archives
*.zip

# macOS
.DS_Store

# Windows
Thumbs.db
pip freeze > requirements.txt